<div class="card border-bottom mb-3">
  <div class="card-header">
    <h4 class="card-title job-title text-info">{{job['title']}}</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-9">
        <div class="job-details">
          <div class="mb-2">
            <b>Location:</b> {{job['location']}}
          </div>
          {% if 'salary' in job %}
            <div>
              <b>Salary:</b> {{job['salary']}}
            </div>
          {% endif %}
        </div>
      </div>
      <div class="col-3">
        <a href="mailto:deyshibanka@gmail.com?subject=Application for {{job['title']}} &body=Your Name<__>%20Your Resume_Link<__>%20Your Linkedin_Link" type="button" class="btn btn-outline-info apply-button">Apply</a>
      </div>
    </div>
  </div>
</div>